<!DOCTYPE html>
<html>
<head>
  <title>fly4less</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
var myCenter = new google.maps.LatLng(43.654102, -79.358155);

function initialize() {
var mapProp = {
center:myCenter,
zoom:12,
scrollwheel:false,
draggable:false,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
position:myCenter,
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

   // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });
})
</script>
<script>
  $(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});
</script>>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag "image.jpg" %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>FLY4LESS TRAVELS</h1>
  <p>We specialize in travelling</p>
  <form class="form-inline">
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Subscribe</button>
  </form>
</div>

<div id="about" class="container-fluid">
  <div class ="row">
      <div class = "col-sm-8">
        <h2>About Fly4Less</h2>
        <h4>FLY4LESS Travel has an extensive network of preferred travel partners to bring you the best selection of destinations, along with outstanding value.We’re constantly adding new offers, package deals, and more, often with added perks, special privileges, and rewards.</h4>
        <p>FLY4LESS Travel Ltd. is a full service travel agency located in the Toronto GTA. We specialize in vacation packages, flights, last minute specials, cruises, tours, car rentals, hotel reservations and corporate travel services. We have been in business for more than 30 years and our experienced and knowledgeable travel consultants can assist you with any of your travel needs. For any of your vacations, holidays, hotels, all-inclusive packages and corporate business travel needs, we can save you money.At FLY4LESS Travel, we will go the distance while ensuring your business trip or family vacation needs are delivered and are able to offer you anything from a cruise, vacation package or flight to any destination. We raise the bar for all travel agencies because we offer service and value for all your travel requirements.Reasons to book your next vacation with FLY4LESS Travel! We guarantee that you will never pay more using FLY4LESS Travel as your travel agency of choice!</p>
        <button class="btn btn-default btn-lg">Get in Touch</button>
      </div>
      <div class ="col-sm-4">
          <span class ="glyphicon glyphicon-signal logo"> </span>
      </div>
    </div>
</div>

<div class="container-fluid bg-grey">
  <div class ="row">
    <div class = "col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span> 
    </div>
    <div class ="col-sm-8">
    <h2>Our Values</h2>
    <h4><strong>MISSION:</strong> Our mission is to provide the hallmark for which we’ve become renowned; relaxed and informative trips led by knowledgeable well experienced teams. Our ‘exceptional experiences,’ include many exciting involvements for the travellers</h4>
    <p><strong>VISION:</strong> With a team of passionate and enthusiastic staff working worldwide, we have achieved a successful and colorful history, and we look forward to a great future ahead. We are proud to say that the quality of our tours and the dedication of our well experienced team to hard work and commitment to excellent service havehelped us achieve overwhelmingly optimistic responses from our customers.
    </p>
    </div>
  </div>
</div>

<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  </div>

<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag "pia.jpg" %>
        <p><strong>PIA</strong></p>
        <p>Pakistan Internation Airlines</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag "britishairways.jpg" %>
        <p><strong>Britisg Airways</strong></p>
        <p>Englands best Airline</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag "air-canada-logo.png" %>
        <p><strong>Air canada</strong></p>
        <p>Canada's top airline</p>
      </div>
    </div>
  </div>

  <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

 <div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Toronto, ON</p>
      <p><span class="glyphicon glyphicon-phone"></span> +16477008539</p>
      <p><span class="glyphicon glyphicon-envelope"></span> rimmypk@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="googleMap" style="height:400px;width:100%;"></div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Website is developed by <a href="http://www.galaktechdev.com" title="GalakTech Developers Corp">www.galaktechdev.com</a></p>
</footer>

</body>
</html>
